*{
    margin: 0;
    padding: 0;
    border: 0;
}
body {
	font-family: 'Inria Sans', sans-serif;
    background-color: #ECECEC;
}

header {
	background: white;
    border-bottom: solid 2px rgb(176, 176, 176);
	padding: 20px auto;
}

.caixa {
	position: relative;
    margin-right: 10%;
}
.logo{
    width: 317px;
    height: 248px;
    top: 0px;
    left: 0px;
}

nav {
	position: absolute;
	top: 110px;
    right: 0%;
    margin: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 20px;
}

nav a {
	text-transform: uppercase;
	color: #2b2b2b;
	font-weight: bold;
	font-size: 28px;
	text-decoration: none;
}

nav a:hover {
	color: #c7197e;
	text-decoration: underline;
}
main{
    position: relative;
    min-height: 100vh;
}
h2{
    text-align: center;
    margin: 2%;
    text-transform: uppercase;
}
.img-sobre{
    width: 261px;
    height: 204px;
    margin-left: 7%;
    margin-top: 2%;
}
.lista-conteudo {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    list-style: none;
    margin-top: 4%;
    margin-left: 2%;
}
h3{
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 5%;
    font-weight: bold;
}
.conteiner{
    align-items: center;
    width: 789px;
    height: 277px;
    background: linear-gradient(#8FA1FF, #ECECEC);
    margin-inline: auto;
    border-radius: 20px;
}
.img-scode{
    width: 260px;
    height: 220px;
}
.conteiner-scode{
    width: 789px;
    height: 220px;
    margin-inline: auto;
    background: #D1D0D0;
    margin-top: 10%;
    border-radius: 20px;
}
.lista-scode{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    list-style: none;
    margin-top: 4%;
    margin-left: 5%;
}
.img-estudar{
    width: 284px;
    height: 203px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.conteiner-estudar{
    width: 789px;
    height: 277px;
    align-items: center;
    margin-inline: auto;
    margin-top: 10%;
    border-radius: 20px;
}
.lista-estudar{
    width: 40%;
	display: inline-block;
	vertical-align: top;
	width: 40%;
	display: inline-block;
    text-align: center;
    list-style: none;
    margin-left: 10%;
    margin-top: 10%;
}
footer{
    text-align: center;
    background: #7E9BFF;
    padding: 15px 0;
 
}
.texto{
    color: #FFFFFF;
    font-weight: bold;
	font-size: 18px;
}