h2{
    text-align: center;
    margin: 4%;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}
.conteiner{
    width: 760px;
    height: 255px;
    background: #D9D9D9;
    border: solid 3px #747474;
    margin-inline: auto;
    border-radius: 20px;
    margin-bottom: 5%;
}
.lista{
    width: 60%;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    list-style: none;
    margin-left: 5%;
}
.link-conteudo{
    background: #FF6DF0;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 15px 20px 15px 20px;
}
.texto-principal{
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 20px;
}
.img{
    margin-top: 4%;
    margin-left: 4%;
    float: left;
    width: 25%;
}
h3{
    font-size: 25px;
}